@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');

@import "mixins";
@import "vars";

%container {
  width: 90%;
  padding: 0 5%;
}

%flexDisplay {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {height: 100vh}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $textColor;
  text-decoration: none;

}

// Бургер меню

.wrapper {

  position:absolute;
   z-index:1;
   width:20%;
   background:#f5f6f7;

  .menu {

  .search {
    width: 100%;
    height: 100px;
    background: #eff1f2;
    display: flex;
    align-items: center;
    justify-content: center;



  input {
    padding: 10px 0;
    margin: 0 45px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
    border-radius: 10px;
    border: 1px solid silver;

    }
  }

  h3 {
    padding: 30px 0;
    margin: 0 45px;
    font-weight: 700;
    font-size: 22px;
    color: #212325;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 30%;
      height: 3px;
      background: $mainColor;
      position: absolute;
      bottom: 20px;
      left: 0%;

    }
  }
  .hidden-list {
    margin: 20px 45px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      list-style: none;
      font-size: 14px;
      font-weight: 500;

      li {
        padding: 20px 0;
        width: 100%;
        display: block;
        border-bottom: 2px solid silver;
        margin-bottom: 10px;
      }

       a {
        text-decoration: none;
        color: #212325;
        text-transform: uppercase;
        transition: all 600ms ease;

        &:hover {
            color: #ccc;
        }
      }
    }
  }

    .card-list {
      margin: 20px 45px;

    > div {
      width: 100%;
      margin-top: 50px;

      .img-card {
        width: 100%;
        height: 150px;
        margin-bottom: 30px;
        }

        button {
          width: 100px;
          height: 50px;
          margin-top: 30px ;
          border-radius: 4px;
          border: 2px solid $mainColor;
          color: $mainColor;
          background: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          transition: background 600ms ease;

          &:hover {
            background: #e8f4fc;
          }
        }

        img {
          width: 100%;
          height: 150px;
          border-radius: 4px;
        }

      }
    }
    .about {
      margin: 20px 45px;

      ul {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        list-style: none;
        font-size: 16px;
        font-weight: 500;

        li {
          padding: 20px 0;
          width: 100%;
          display: block;
          border-bottom: 2px solid silver;
          margin-bottom: 10px;

          p {
            float: left;
          }

          i {
            color: $mainColor;
            font-size: 22px;
            margin-right: 20px;
            float: left;
          }
        }
      }
    }
  }
}

// Затемнение фона
#overlay {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top:0;
  left: 0;
  background-color: rgba(206, 206, 206, 0.7);
  display: none;
}




// Основная часть сайта
.main-section {
  z-index:2;
  position: absolute;
   top:0px;
    width:100%;
    right:0;
    background: #fff;

    #showmenu {
      position: absolute;
      width: 6em;
      left: 2em;
      top: 1em;

      .fa-bars {
        color: $mainColor;
        font-size: 26px;
      }

    }

.main {
  @extend %container;


  h3 {
    padding: 30px 0;
    font-weight: 700;
    font-size: 24px;
    color: #212325;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 3px;
      background: $mainColor;
      position: absolute;
      bottom: 10px;
      left: 0%;

    }
  }


  .last {
    padding: 30px 0;
    font-weight: 700;
    font-size: 24px;
    color: #212325;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 340px;
      height: 3px;
      background: $mainColor;
      position: absolute;
      bottom: 10px;
      left: 0;

    }
  }

  .present {
    @extend %flexDisplay;
    margin-top: 50px;
    align-items: center;


  .img-present {
    width: 50%;

  }

    img {
      width: 100%;
      border-radius: 4px;
    }


  .actual {
  width: 50%;

    h1 {
      color: #212325;
      font-size: 52px;
      font-weight: 700;
      margin: 35px 0;;
    }

    h2 {
      margin: 20px 0;
      color: #212325;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }

    p {
      margin: 5px 0;
      font-size: 14px;
      width: 70%;
    }
  }
}
  .actual button {
    width: 196px;
    height: 50px;
    margin-top: 30px ;
    border-radius: 4px;
    border: 2px solid $mainColor;
    color: $mainColor;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background 600ms ease;

    &:hover {
      background: #e8f4fc;
    }
  }

  .articles {
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 95%;
      background: silver;
      position: absolute;
      top: 50px;
      left: 50%;
    }

    .row {
      @extend %flexDisplay;
      flex-wrap: wrap;




    > div {
      width: 46%;
      padding: 2%;
      margin-top: 50px;
      border-bottom: 2px solid silver;


      .img-holder {
        width: 100%;
        height: 300px;
        overflow: hidden;
        transition: transform 0.3s ease;
        position: relative;

        img {
          width: 100%;
          height: 400px;
          border-radius: 4px;
          cursor: pointer;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      h2 {
        color: 212325;
        margin-top: 30px;
        font-weight: 700;
        padding: 10px 0;
      }

      p {
        font-size: 14px;
        font-family: 400;
        padding: 10px 0;
      }

      button {
        width: 120px;
        height: 50px;
        margin: 50px auto;
        border-radius: 4px;
        border: 2px solid $mainColor;
        color: $mainColor;
        background: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        transition: background 600ms ease;

        &:hover {
          background: #e8f4fc;
        }
      }
    }
    }
  }



  .gallery {
  @extend %flexDisplay;
  @extend %container;
  flex-wrap: nowrap;


  > div {
    width: 20%;
    margin-top: 50px;

    .img-gallery {
      margin: 20px 0;

      img {
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.9s ease;

        &:hover {
          box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.75);
        }
      }
    }

      h2 {
        color: 212325;
        font-weight: 700;
        padding: 10px 0;
      }

      p {
        font-size: 14px;
        font-family: 400;
        padding: 10px 0;
      }

      button {
        width: 100px;
        height: 40px;
        margin: 34px auto;
        border-radius: 4px;
        border: 2px solid $mainColor;
        color: $mainColor;
        background: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        transition: background 600ms ease;

        &:hover {
          background: #e8f4fc;
        }
      }
    }
}





footer {
  @extend %container;


  h3 {
    padding: 30px 0;
    font-weight: 700;
    font-size: 24px;
    color: #212325;
    position: relative;


    &::before {
      content: "";
      display: inline-block;
      width: 180px;
      height: 3px;
      background: $mainColor;
      position: absolute;
      bottom: 10px;
      left: 0px;

    }
  }

  .info {
    @extend %flexDisplay;
    align-items: center;
    margin: 100px 0;

    h2 {
      margin-bottom: 10px;
    }

    p {
      width: 70%;
    }



    > div {
      @extend %flexDisplay;
      align-items: center;

      > div {
        margin-right: 30px;

      }

    }
  }
}
}
}


@media (max-width: 320px) {

  .wrapper {display: none}

  .main-section {

  .main {
      width: 100%;

    h3 {
      padding: 40px 0;
      font-weight: 700;
      font-size: 24px;
      color: #212325;
      position: relative;

      &::before {
        width: 100%;
        bottom: 30px;
        left: 0%;
      }
    }


      .articles {


        &::before {
          display: none;
        }

        .row {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

        > div {
          width: 90%;
          margin-top: 50px;


          .img-holder {
            width: 100%;
            height: 100%;


            img {
              width: 100%;
              height: 200px;
              border-radius: 4px;
            }
          }

          h2 {
            color: #212325;
            margin-top: 30px;
            font-weight: 700;
            padding: 10px 0;
          }

          p {
            font-size: 14px;
            font-family: 400;
            padding: 10px 0;
          }


        }
        }
      }




  }

  .gallery {
    width: 100%;



    > div {
      width: 100%;
      margin-top: 50px;

      h2 {font-size: 1em}
      p {font-size: 0.9em}
        }
      }

 footer {
   width: 100%;
    .info {
      flex-wrap: wrap;
      margin: 20px 0;
      padding: 30px 0;

      h2 {
        margin: 20px 0px;
      }

      p {
        width: 100%;
      }
      > div {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    }
}
}

@media (max-width: 768px) {

  .wrapper {display: none}
  .main-section {
  .main {
      margin: 20px 0px;

      .articles {
        &:before {display: none}
        .row {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

          > div {
            width: 100%
          }
      }

  }

  .present {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    align-items: center;


  .img-present {
    width: 100%;
    margin-bottom: 20px;
  }

    img {
      width: 100%;
      border-radius: 4px;
    }


  .actual {
  width: 100%;

    h1 {
      color: #212325;
      font-size: 2em;
      font-weight: 700;
      }
      p {
        width: 100%;
      }

      }

  }

  .gallery {
    flex-wrap: wrap;

    > div {
      width: 45%;
      margin-top: 50px;
    }
  }

  footer {

    .info {
      margin: 30px 0;
      flex-direction: column;


    > div {
      margin-bottom: 30px;
      }
        }
      }
    }
  }
}
