@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:300,800&display=swap&subset=cyrillic');



* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 14px;
  background: #fcfcfc;
  color: #000;
}

header {
  width: 100%;
  background: #F8F8F8;
  box-shadow: 2px 4px 6px rgba(194, 192, 192, 0.25);
  padding-top: 5px;
  padding-bottom: 20px;

  .all-header {
    width: 60%;
    margin: 0 20%;

    .lang {
      text-align: right;
      width: 100%;

      a {
        color: #c4c4c4;
        font-weight: 800;

        &.active,
        &:hover {
          color: #000;
          border-bottom: 2px solid #000;
        }
      }
    }

    .header-main {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-search {
        display: flex;

        #search {
          width: 316px;
          height: 44px;
          background: #ECECEC;
          text-indent: 20px;
          border: 0;
          outline: none;
        }

        .btn-search {
          width: 44px;
          height: 44px;
          background: #FFF000;
          text-align: center;
          max-height: 44px;
          cursor: pointer;
        }
      }

      .join {
        display: flex;
      .btn {
        cursor: pointer;
        width: 86px;
        height: 40px;
        border: 2px solid #000;
        font-weight: 800;
        text-align: center;
        line-height: 40px;
        margin-left: 20px;
        transition: all 0.6s ease;

        &.reg {
          width: 140px;
          background: #000;
          color: #fff;
        }
        &.come:hover {
          background: #000;
          color: #fff;
        }
      }
      }
      a {
        font-weight: 800;
        color: #000;
        cursor: pointer;

        &:hover {color: #c4c4c4}
          }
    }
  }
}


// Основная часть
    main {
      width: 100%;

      .section {
        width: 60%;
        margin: 50px 20%;

        h3 {
          font-size: 24px;
          margin-left: 20px;

          span {
            content: "";
            margin-bottom: 6px;
            height: 2px;
            width: 30px;
            display: inline-block;
            margin-right: 15px;
            background: #000;
            margin-right: 15px;
          }
        }



        .content {
          display: flex;
          justify-content: space-between;
          position: relative;

          .img-block {
            width: 30%;
            margin: 20px 2%;
            position: relative;

            &:first-of-type  {margin-left: 0px}



          h4 {
            font-size: 16px;
            margin-top: 10px;
            }

            img {
              width: 100%;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
              }
            }

            .play {
              border-radius: 50%;
              background-color: #FFF000;
              opacity: 0;
              width: 64px;
              height: 64px;
              position: absolute;
            	top: calc(40% - 64px / 2);
              left: calc(50% - 64px / 2);
              background: url('../img/play-icon.png');
            	background-size: cover;
              transition: all 0.3s ease;
              cursor: pointer;
            }

              &:hover .play {opacity: 1}

            }
          }

                      .play-list {
                        background-color: #000;
                        width: 60px;
                        height: 60px;
                        color: #FFF000;
                        position: absolute;
                        right: -5px;
                        bottom: 100px;
                        text-align: center;
                        cursor: pointer;

                        .fa-play {
                          font-size: 20px;
                          line-height: 60px;
                        }
        }
      }
    }

    footer {
      background: #111111;
      padding: 40px 0;
      color: #FFFFFF;

      .footer-cont {
        width: 60%;
        margin: 0 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social {
          display: flex;
          width: 10px;

           .lnk {
             a {
               color: #FFFFFF;
               font-size: 20px;
               margin: auto 10px;
              transition: all 0.6s ease;

               &:hover {color: #FFF000}
             }


          }
        }

      }
    }

    @media (max-width: 1500px) {
      header {
        .all-header {
          .header-main {
            flex-direction: column;
            > div {
              margin-top: 20px;
            }

          }
        }
      }

      footer {
      .footer-cont {
      width: 70%;
      margin: 0 15%;

    }
  }

        @media (max-width: 768px) {

          header {
            .all-header {
              .header-main {
                .menu-search {width: 300px}
              }
            }
          }
          main {
            .section {
              width: 80%;
              margin: 20px 10%;
              .content {
                flex-direction: column;
                .img-block {
                  width: 100%;
                  margin: 20px 0;
                }
              }
            }
          }
          footer {
            .footer-cont {
              flex-direction: column;
              align-items: center;
              > div {
                margin-bottom: 10px;
                width: 100px;
              }
              .social {width: 100px}
            }
          }
        }
      }
