// catalog

.catalog-section {
    .catalog-title {
      margin-bottom: 60px;
      text-align: center;
    }
  
    .catalog-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
  
      .catalog-block-title {
        font-size: 16px;
        font-weight: 500;
      }
  
      .catalog-block-item {
        flex-basis: 33%;
        text-align: center;
        border: 2px solid #f6f6f6;
        padding: 35px 25px;
  
        .catalog-subtitle {
          @include medium;
          font-size: 16px;
          font-weight: 500;
          color: #0f0f0f;
        }
  
        img {
          max-height: 120px;
        }
  
        p {
          @include light;
        }
  
        .catalog-btn {
          display: block;
          @include btn;
          margin: 32px auto;
        }
      }
    }
  }

  @media (max-width: 994px) {
    .catalog-block {
      flex-direction: column;
    }
  }