.map {
    padding: 0;
    background: url("../img/map.jpg") center center no-repeat;
    background-size: cover;
  
    min-height: 520px;
  
    .contact-block {
      background: #ffffff;
      padding: 60px 70px;
      margin-top: 80px;
  
      .contact-title {
        @include bold;
        font-size: 20px;
        font-weight: 700;
      }
  
      .contact-phone {
        @include medium;
        font-size: 14px;
        font-weight: 500;
        display: block;
        margin-top: 50px;
        line-height: 30px;
        padding-left: 25px;
        position: relative;
  
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(20%);
          width: 20px;
          height: 20px;
          background: url("../img/contact/phone.svg") center no-repeat;
          background-size: 70%;
        }
      }
  
      .contact-address {
        @include regular;
        font-size: 14px;
        font-weight: 400;
        display: block;
        margin-top: 40px;
        padding-left: 25px;
        position: relative;
  
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(20%);
          width: 20px;
          height: 20px;
          background: url("../img/contact/navigation.svg") center no-repeat;
          background-size: 60%;
        }
      }
  
      .contact-email {
        @include regular;
        font-size: 14px;
        font-weight: 400;
        display: block;
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 25px;
        color: #292929;
        text-decoration: underline;
        position: relative;
  
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: url("../img/contact/post.svg") center no-repeat;
          background-size: 80%;
        }
      }
    }
  }