// Colors
$title-color: #292929;
$btn-color: #ffd200;


// Fonts
@mixin regular {
    font-family: "GothamProRegular", sans-serif;
  }
  
  @mixin bold {
    font-family: "GothamProBold", sans-serif;
  }
  
  @mixin medium {
    font-family: "GothamProMedium", sans-serif;
  }
  
  @mixin light {
    font-family: "GothamProLight", sans-serif;
  }

@mixin title-text {
  @include bold;
  color: $title-color;
  font-size: 20px;
  font-weight: 700;
}

// Button
@mixin btn {
    background: $btn-color;
    color: #0d0d0d;
    padding: 20px 55px;
    border: none;
    @include bold;
    cursor: pointer;
    transition: all 0.6s ease;
    &:hover {
      background: #E5BB00;
    }
    
}