.service-section {
  background: #f4f4f4;

  .service-title {
    text-align: center;
  }

  .service-block {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    .service-block-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-basis: 33%;
      border: 2px solid #ffffff;
      padding: 40px 30px;
      cursor: pointer;

      .service-block-title {
        font-size: 15px;
        font-weight: 500;
        color: #292929;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 994px) {
  .service-section {
    .service-block {
      display: flex;
      flex-direction: column;
      .service-block-item {
        width: 100%;
      }
    }
  }
}
