@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
}

button, input {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: 95%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
    max-width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  padding: 18px 30px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: #ffdb33;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 25px;
  font-size: 15px;
  border-radius: 10px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-size: 20px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  color: #333333;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 40px;
  }
  .hero-text {
    margin-right: 0;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
  }
  .hero-list-item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
}

.offer {
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 25px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */